body {
  background-color: #003f5c;
  text-align: center;
  color: whitesmoke;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 15px;
}

table,
th,
td {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}
