body {
  text-align: center;
  background-color: #003f5c;
  color: whitesmoke;
}

h3 {
  margin-bottom: 50px;
}

img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 15px;
}
